* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:fantasy;
}

:root {
    --darkest: #22252D;
    --white: white;
    --coral: #d55454;
    --acqua: rgb(50, 185, 185);
    --dark: #292D36;
    --darker:#1f2229;
}


body {
    background-image: url(./images/binary-code-minimalism-abstract-t1.jpg);
    background-size: cover;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: var(--darkest);
    width: 100%;
    max-width: 400px;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    overflow: hidden;
    color: var(--white);
}

.display {
    min-height: 200px;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--white);
    text-align: right;
    flex: 1 1 0%
}

.display .input {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}

.display .output {
    font-size: 3rem;
    font-weight: 700;
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

.display .operator {
    color: var(--coral)
}

.display .brackets,
.display .percent {
    color: var(--acqua);
}

.keys {
	background-color: var(--dark);
	padding: 1.5rem;
	border-radius: 2rem 1.5rem 0 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-gap: 1rem;
	box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.2);
}

.keys .key {
	position: relative;
	cursor: pointer;
	display: block;
	height: 0;
	padding-top: 100%;
	background-color: var(--darkest);
	border-radius: 1rem;
	transition: 0.2s;
	user-select: none;
}

.keys .key span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2rem;
	font-weight: 700;
	color: #FFF;
}

.keys .key:hover {
    box-shadow: inset 0px 0px 8px black;
}

.keys .key.operator span{
    color: var(--coral);
}

.keys .key.action span {
    color: var(--acqua);
}

footer {
    bottom: 0;
    position: fixed;
    text-align: center;
    color: whitesmoke;
    width: 100%;
}